#heading {
    alignment        : center;
    background-color : gray;
    width            : available;
}

p {
    alignment        : center;
    background-color : lightgray;
    padding-right    : 20vw;
    width            : available;
}