/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top : 3.5rem;
}

.col-md-3 {
    background-color : lightgray;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}

.navbar {
    width : 100vw;
}