#thanks, #qr-code {
    box-sizing : border-box;
    float      : none;
    height     : 49%;
    margin     : 1% 0;
    width      : 100%;
}

#greeting {
    height : 79vh;
    margin : 1vh 0;
    width  : 100%;
}

#continueBox {
    box-sizing : border-box;
    height     : 17vh;
    margin     : 1vh 0;
    width      : 100%;
}

#continueText {
    color           : unset;
    text-decoration : none;
}