#thanks, #qr-code {
    background-color : gray;
    border-radius    : 10px;
    color            : white;
    float            : left;
    font-size        : 25px;
    height           : 200px;
    margin           : 5px;
    text-align       : center;
    width            : 200px;
}

#continueBox {
    background-color : #6666FF;
    border-radius    : 10px;
    box-sizing       : border-box;
    clear            : left;
    float            : none;
    font-size        : large;
    margin           : 5px;
    padding          : 10px;
    width            : 410px;
}
