<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Registrierung</title>
</head>
<body>
    <!-- Optional JavaScript -->
    <script src="../js/registrierung.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Musterbank</a>
        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genericPage.html?Kreditkarte">Kreditkarte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genericPage.html?Girokonto">Girokonto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genericPage.html?Aktien">Aktien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registrierung.html">Börsenspiel</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="#" id="dropdown01">Service</a>
                    <div aria-labelledby="dropdown01" class="dropdown-menu">
                        <a class="dropdown-item" href="impressum.html">Impressum</a>
                        <a class="dropdown-item" href="datenschutz.html">Datenschutz</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" id="search-bar" placeholder="Search"
                       type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-button" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="py-5 text-center">
            <img alt=""
                 class="d-block mx-auto mb-4" height="72"
                 src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" width="72">
            <h2>Registrierung</h2>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form
                group has a validation state that can be triggered by attempting to submit the form without
                completing it.</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Persönliche Daten</h4>
                <form class="needs-validation" id="form" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Vorname</label>
                            <input class="form-control" id="firstName" name="firstName" placeholder="" required
                                   type="text" value="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Nachname</label>
                            <input class="form-control" id="lastName" name="lastName" placeholder="" required
                                   type="text"
                                   value="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input class="form-control" id="email" name="email" placeholder="you@example.com" type="email">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="emailrepeat">Email wieberholen <span class="text-muted">(Optional)</span></label>
                        <input class="form-control" id="emailrepeat" name="emailrepeat" placeholder="you@example.com"
                               type="email">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    <div class="mb-3"><label for="birthDate">Geburtstag</label></div>
                    <div class="row" id="birthDate">
                        <div class="col-md-3 mb-3">
                            <!--        <label for="birthDay"> </label>-->
                            <select class="custom-select d-block w-100" name="birthDay" id="birthDay" required>
                                <option value="">Tag</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <!--    <label for="birthMonth"> </label>-->
                            <select class="custom-select d-block w-100" name="birthMonth"id="birthMonth" required>
                                <option value="">Monat</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <!--    <label for="birthYear"> </label>-->
                            <select class="custom-select d-block w-100" name="birthYear" id="birthYear" required>
                                <option value="">Jahr</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="zip">Postleitzahl</label>
                        <input class="form-control" name="zip" id="zip" placeholder="" required type="number">
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="same-address" type="checkbox">
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my
                            billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="save-info" type="checkbox">
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="mb-4">

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Registrieren</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Tobias Leutelt 2019-{{ site.time | date: "%Y" }}</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="datenschutz.html">Privacy</a></li>
                <li class="list-inline-item"><a href="impressum.html">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>
